In [1]:
import pandas as pd

In [44]:
reviews = pd.read_csv('winemag-data_first150k.csv', index_col=0)

In [9]:
reviews.head(3)

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley

In [15]:
reviews.loc[(reviews.country == 'Spain') & (reviews.points > 90) & (reviews.price > 100.0) & (reviews['region_1'] == 'Toro') & (reviews.winery == 'Numanthia')]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
22,Spain,Tarry blackberry and cheesy oak aromas are app...,Termanthia,95,220.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
24447,Spain,"Dark, condensed and inky, with big, muscular a...",Termanthia,92,200.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
42717,Spain,"Dark, condensed and inky, with big, muscular a...",Termanthia,92,200.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
63771,Spain,Termanthia is the pinnacle of Tinta de Toro. A...,Termanthia,95,200.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
107811,Spain,Termanthia is the pinnacle of Tinta de Toro. A...,Termanthia,95,200.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
120567,Spain,"Dark, condensed and inky, with big, muscular a...",Termanthia,92,200.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
130761,Spain,Termanthia is the pinnacle of Tinta de Toro. A...,Termanthia,95,200.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
142563,Spain,With this wine the Egurens of Rioja fame have ...,Termanthia,95,175.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia

In [20]:
reviews.iloc[:3,5]

0        California
1    Northern Spain
2        California
Name: province, dtype: object

In [23]:
reviews.loc[2000:2003, ['country','description','price']]

     country                                        description  price
2000   Italy  This wine has an unusual combination of sweet ...   75.0
2001  France  This rich wine has both open, ripe black fruit...    NaN
2002  France  This wine is already soft, warm and attractive...   15.0
2003  France  Firm and dry, it's packed with as much tannin ...   22.0

In [4]:
df = reviews.loc[reviews['region_2'].notnull()]
len(df)

60953

In [5]:
df.head(3)

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi

In [9]:
df1 = df.loc[:, ['country', 'description', 'price']]

In [10]:
df1.head(3)

  country                                        description  price
0      US  This tremendous 100% varietal wine hails from ...  235.0
2      US  Mac Watson honors the memory of a wine once ma...   90.0
3      US  This spent 20 months in 30% new French oak, an...   65.0

In [45]:
reviews.points.describe()

count    150930.000000
mean         87.888418
std           3.222392
min          80.000000
25%          86.000000
50%          88.000000
75%          90.000000
max         100.000000
Name: points, dtype: float64

In [46]:
reviews.price.describe()

count    137235.000000
mean         33.131482
std          36.322536
min           4.000000
25%          16.000000
50%          24.000000
75%          40.000000
max        2300.000000
Name: price, dtype: float64

In [13]:
reviews.description.describe()

count                                                150930
unique                                                97821
top       A little bit funky and unsettled when you pop ...
freq                                                      6
Name: description, dtype: object

In [15]:
df.designation.unique()

array(["Martha's Vineyard", 'Special Selected Late Harvest', 'Reserve',
       ..., 'Monterey Vine Select San Bernabe Vineyard', 'La Fontana',
       'Bungalow Red'], dtype=object)

In [38]:
reviews_points_mean = reviews.points.mean()

In [48]:
reviews.price.head(3)

0    235.0
1    110.0
2     90.0
Name: price, dtype: float64

In [39]:
reviews.points.map(lambda p: p - reviews_points_mean)

0         8.111582
1         8.111582
2         8.111582
3         8.111582
4         7.111582
            ...
150925    3.111582
150926    3.111582
150927    3.111582
150928    2.111582
150929    2.111582
Name: points, Length: 150930, dtype: float64

In [50]:
def new_price(row):
    row.price = row.price * 1.1
    return row

reviews.apply(new_price, axis='columns')

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,258.5,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,121.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,99.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,71.5,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,72.6,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
...,...,...,...,...,...,...,...,...,...,...
150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,22.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,29.7,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,22.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,57.2,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,16.5,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [53]:
def star_rating(row):
    if row.points >= 95:
        row['Star Rating'] = '3 star'
    if row.points >=85:
        row['Star Rating'] = '2 star'
    if row.country == 'Spain':
        row['Star Rating'] = '3 star'
    return row    
   
reviews.apply(star_rating, axis = 'columns')    

#reviews.insert(4,'Star Rating', star_rating)

,country,description,designation,points,Star Rating,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,2 star,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,3 star,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,2 star,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,2 star,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,2 star,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
...,...,...,...,...,...,...,...,...,...,...,...
150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,2 star,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,2 star,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,2 star,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,2 star,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,2 star,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [59]:
reviews.groupby(['country']).price.agg([len, min, max])

                          len   min     max
country
Albania                     2  20.0    20.0
Argentina                5631   4.0   250.0
Australia                4957   5.0   850.0
Austria                  3057   8.0  1100.0
Bosnia and Herzegovina      4  12.0    13.0
Brazil                     25  11.0    35.0
Bulgaria                   77   7.0    28.0
Canada                    196  12.0   145.0
Chile                    5816   5.0   400.0
China                       3   7.0    27.0
Croatia                    89  12.0    65.0
Cyprus                     31  10.0    22.0
Czech Republic              6  15.0    25.0
Egypt                       3   NaN     NaN
England                     9  38.0    75.0
France                  21098   5.0  2300.0
Georgia                    43   9.0    40.0
Germany                  2452   5.0   775.0
Greece                    884   7.0   120.0
Hungary                   231   7.0   764.0
India                       8  10.0    20.0
Israel                    630   8.0   150.0
Italy                   23478   5.0   900.0
Japan                       2  24.0    24.0
Lebanon                    37  12.0    51.0
Lithuania                   8  10.0    10.0
Luxembourg                  9  36.0    50.0
Macedonia                  16  12.0    25.0
Mexico                     63  12.0   108.0
Moldova                    71   8.0    42.0
Montenegro                  2  10.0    10.0
Morocco                    12   6.0    35.0
New Zealand              3320   7.0   125.0
Portugal                 5322   4.0   980.0
Romania                   139   4.0   320.0
Serbia                     14  15.0    42.0
Slovakia                    3  15.0    16.0
Slovenia                   94   7.0    90.0
South Africa             2258   5.0   145.0
South Korea                 4  11.0    16.0
Spain                    8268   4.0   770.0
Switzerland                 4  19.0    38.0
Tunisia                     2   NaN     NaN
Turkey                     52  14.0   120.0
US                      62397   4.0  2013.0
US-France                   1  50.0    50.0
Ukraine                     5  13.0    13.0
Uruguay                    92   7.0    60.0

In [61]:
reviews.groupby(['country']).province.count()

country
Albania                       2
Argentina                  5631
Australia                  4957
Austria                    3057
Bosnia and Herzegovina        4
Brazil                       25
Bulgaria                     77
Canada                      196
Chile                      5816
China                         3
Croatia                      89
Cyprus                       31
Czech Republic                6
Egypt                         3
England                       9
France                    21098
Georgia                      43
Germany                    2452
Greece                      884
Hungary                     231
India                         8
Israel                      630
Italy                     23478
Japan                         2
Lebanon                      37
Lithuania                     8
Luxembourg                    9
Macedonia                    16
Mexico                       63
Moldova                      71
Montenegro                    2
Morocco                      12
New Zealand                3320
Portugal                   5322
Romania                     139
Serbia                       14
Slovakia                      3
Slovenia                     94
South Africa               2258
South Korea                   4
Spain                      8268
Switzerland                   4
Tunisia                       2
Turkey                       52
US                        62397
US-France                     1
Ukraine                       5
Uruguay                      92
Name: province, dtype: int64

In [62]:
reviews.groupby('price').points.max()

price
4.0        86
5.0        90
6.0        90
7.0        90
8.0        91
         ...
1300.0     96
1400.0    100
1900.0     98
2013.0     91
2300.0     99
Name: points, Length: 357, dtype: int64

In [65]:
price_extremes = reviews.groupby(['variety']).price.agg([min, max])

In [69]:
price_extr = reviews.groupby(['variety']).price.agg(min)

In [73]:
price_extr.sort_values(ascending=False)

variety
Cabernet-Shiraz                   150.0
Mazuelo                            92.0
Carignan-Syrah                     80.0
Syrah-Cabernet Franc               69.0
Nasco                              65.0
                                  ...
Rabigato                            NaN
Sacy                                NaN
Sauvignon Blanc-Sauvignon Gris      NaN
Terret Blanc                        NaN
Zelen                               NaN
Name: price, Length: 632, dtype: float64

In [75]:
price_extremes.sort_values(by=['min','max'], ascending=False)

                                  min    max
variety
Cabernet-Shiraz                 150.0  150.0
Mazuelo                          92.0  105.0
Carignan-Syrah                   80.0   80.0
Syrah-Cabernet Franc             69.0   69.0
Nasco                            65.0   65.0
...                               ...    ...
Rabigato                          NaN    NaN
Sacy                              NaN    NaN
Sauvignon Blanc-Sauvignon Gris    NaN    NaN
Terret Blanc                      NaN    NaN
Zelen                             NaN    NaN

[632 rows x 2 columns]

In [76]:
reviews.groupby('country').points.mean()

country
Albania                   88.000000
Argentina                 85.996093
Australia                 87.892475
Austria                   89.276742
Bosnia and Herzegovina    84.750000
Brazil                    83.240000
Bulgaria                  85.467532
Canada                    88.239796
Chile                     86.296768
China                     82.000000
Croatia                   86.280899
Cyprus                    85.870968
Czech Republic            85.833333
Egypt                     83.666667
England                   92.888889
France                    88.925870
Georgia                   85.511628
Germany                   88.626427
Greece                    86.117647
Hungary                   87.329004
India                     87.625000
Israel                    87.176190
Italy                     88.413664
Japan                     85.000000
Lebanon                   85.702703
Lithuania                 84.250000
Luxembourg                87.000000
Macedonia                 84.812500
Mexico                    84.761905
Moldova                   84.718310
Montenegro                82.000000
Morocco                   88.166667
New Zealand               87.554217
Portugal                  88.057685
Romania                   84.920863
Serbia                    87.714286
Slovakia                  83.666667
Slovenia                  88.234043
South Africa              87.225421
South Korea               81.500000
Spain                     86.646589
Switzerland               87.250000
Tunisia                   86.000000
Turkey                    88.096154
US                        87.818789
US-France                 88.000000
Ukraine                   84.600000
Uruguay                   84.478261
Name: points, dtype: float64

In [80]:
reviews.groupby(['country', 'province']).description.agg([len])

                             len
country   province
Albania   Mirditë              2
Argentina Mendoza Province  4742
          Other              889
Australia Australia Other    553
          New South Wales    246
...                          ...
Uruguay   Juanico             19
          Montevideo           3
          Progreso             5
          San Jose            15
          Uruguay             18

[455 rows x 1 columns]

In [81]:
 reviews.groupby(['country', 'variety']).description.agg([len])

                                      len
country   variety
Albania   Kallmet                       2
Argentina Barbera                       2
          Bonarda                     151
          Bordeaux-style Red Blend    106
          Bordeaux-style White Blend    3
...                                   ...
Uruguay   Rosé                          3
          Tannat                       33
          Tannat-Merlot                 3
          Tannat-Syrah                  2
          Viognier                      7

[1475 rows x 1 columns]

In [86]:
 reviews.groupby(['country', 'province']).points.max()

country    province
Albania    Mirditë             88
Argentina  Mendoza Province    97
           Other               95
Australia  Australia Other     92
           New South Wales     93
                               ..
Uruguay    Juanico             90
           Montevideo          90
           Progreso            89
           San Jose            89
           Uruguay             89
Name: points, Length: 455, dtype: int64

In [108]:
reviews.groupby(['country', 'province']).size()

country    province
Albania    Mirditë                2
Argentina  Mendoza Province    4742
           Other                889
Australia  Australia Other      553
           New South Wales      246
                               ...
Uruguay    Juanico               19
           Montevideo             3
           Progreso               5
           San Jose              15
           Uruguay               18
Length: 455, dtype: int64

In [107]:
ind.sort_values(ascending=False)

country      province
US           California                                44508
             Washington                                 9750
Italy        Tuscany                                    7281
France       Bordeaux                                   6111
Spain        Northern Spain                             4892
                                                       ...
Switzerland  Neuchâtel                                     1
             Ticino                                        1
             Valais                                        1
             Vino da Tavola della Svizzera Italiana        1
Greece       Krania Olympus                                1
Length: 455, dtype: int64