In [1]:
import pandas as pd

In [8]:
reviews = pd.read_csv('winemag-data_first150k.csv', index_col=0)

In [9]:
reviews.head(3)

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley

In [15]:
reviews.loc[(reviews.country == 'Spain') & (reviews.points > 90) & (reviews.price > 100.0) & (reviews['region_1'] == 'Toro') & (reviews.winery == 'Numanthia')]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
22,Spain,Tarry blackberry and cheesy oak aromas are app...,Termanthia,95,220.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
24447,Spain,"Dark, condensed and inky, with big, muscular a...",Termanthia,92,200.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
42717,Spain,"Dark, condensed and inky, with big, muscular a...",Termanthia,92,200.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
63771,Spain,Termanthia is the pinnacle of Tinta de Toro. A...,Termanthia,95,200.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
107811,Spain,Termanthia is the pinnacle of Tinta de Toro. A...,Termanthia,95,200.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
120567,Spain,"Dark, condensed and inky, with big, muscular a...",Termanthia,92,200.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
130761,Spain,Termanthia is the pinnacle of Tinta de Toro. A...,Termanthia,95,200.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
142563,Spain,With this wine the Egurens of Rioja fame have ...,Termanthia,95,175.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia

In [20]:
reviews.iloc[:3,5]

0        California
1    Northern Spain
2        California
Name: province, dtype: object

In [23]:
reviews.loc[2000:2003, ['country','description','price']]

     country                                        description  price
2000   Italy  This wine has an unusual combination of sweet ...   75.0
2001  France  This rich wine has both open, ripe black fruit...    NaN
2002  France  This wine is already soft, warm and attractive...   15.0
2003  France  Firm and dry, it's packed with as much tannin ...   22.0

In [33]:
df = reviews.loc[reviews['region_2'].notnull()]
len(df)

60953

In [34]:
df.head(3)

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi

In [38]:
df.loc[-5:, ['country', 'description', 'price']]

       country                                        description  price
0           US  This tremendous 100% varietal wine hails from ...  235.0
2           US  Mac Watson honors the memory of a wine once ma...   90.0
3           US  This spent 20 months in 30% new French oak, an...   65.0
8           US  This re-named vineyard was formerly bottled as...   65.0
9           US  The producer sources from two blocks of the vi...   60.0
...        ...                                                ...    ...
150892      US  A light, earthy wine, with violet, berry and t...   10.0
150896      US  Some raspberry fruit in the aroma, but things ...   10.0
150914      US  Old-gold in color, and thick and syrupy. The a...   25.0
150915      US  Decades ago, Beringer’s then-winemaker Myron N...   30.0
150916      US  An impressive wine that presents a full bouque...   65.0

[60953 rows x 3 columns]